.base-container {
  background-color: #141312;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.right-menu {
  /* background-color: #141312; */
  width: 80px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 8px;
}

.menu-item {
  background-color: #1a1817;
  border: none;
  border-radius: 16px;
  width: 64px;
  height: 64px;
  cursor: pointer;
  transition: all 0.1s ease;
}

.menu-item:hover {
  transform: scale(1.05);
  border: 2px solid #9e4129;
}

.main-container {
  background-color: #242120;
  width: 100vw;
  height: 100vh;
  padding: 16px;
}

.search-box {
  background-color: #1a1817;
  width: 100%;
  border: #706f73 1px solid;
  border-radius: 16px;
  margin-bottom: 32px;
  gap: 8px;
  display: flex;
  flex-direction: row;
}

.searchIcon {
  margin: 8px;
  cursor: pointer;
  transition: all 0.1s ease;
}

.searchIcon:hover {
  transform: scale(1.2);
}

.search-box input {
  background-color: transparent;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 16px;
  color: #e4e4e4;
  font-size: medium;
}

.search-box:focus-within {
  border: 2px solid #9e4129;
}

.app-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.app-item {
  background-color: #1a1817;
  border: none;
  width: 128px;
  height: 168px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.1s ease;
}

.app-item:hover {
  transform: scale(1.04);
  border: 2px solid #9e4129;
}

.app-item img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  border-radius: 8px;
}

.app-item span {
  background-color: #302e2c;
  margin-top: 8px;
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: #e4e4e4;
  font-weight: 700;
  transition: all 0.1s ease;
}

.app-item:hover span {
  background-color: #bf4e30;
  color: #141312;
}

.app-item span:hover {
  background-color: #d55b38;
  transform: scale(1.03);
}

.app-item span:active {
  background-color: #9e4129;
}

.add-app-btn {
  height: 128px;
}
.menu-item:hover .icon,
.add-app-btn:hover .icon {
  width: 80%;
  height: 80%;
  stroke: #bf4e30;
  transition: all 0.1s ease;
}

.icon {
  width: 60%;
  height: 60%;
  stroke: #e4e4e4;
}
