@import './base.css';

.browse-btn {
  background-color: #70a9ff;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: min-content;
  cursor: pointer;
  transition: var(--transition-fast);
}

.browse-btn:hover {
  background-color: #5194f8;
}

.browse-btn:active {
  background-color: #3775d1;
}

.title-input {
  background-color: var(--bg-btn);
  border: 1px solid var(--border);
  outline: none;
  border-radius: var(--radius-md);
  padding: 8px;
  color: var(--text);
  font-size: medium;
}

.title-input:focus {
  border-color: var(--primary-medium);
}

.icon-btn {
  width: 64px;
  aspect-ratio: 1 / 1;
  border-radius: var(--radius-lg);
  cursor: pointer;
}

.source-container {
  background-color: var(--bg-btn);
  border: 1px solid var(--border);
  border-radius: var(--radius-md);
  display: flex;
  justify-content: space-between;
  padding-right: 4px;
}

.source-container input {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 8px;
  color: var(--text);
  font-size: medium;
}

.source-container:focus-within {
  border-color: var(--primary-medium);
}

.source-container button {
  background-color: var(--bg-main);
  border: none;
  outline: none;
  border-radius: 4px;
  color: var(--text);
  font-size: smaller;
  margin: 4px 0;
  cursor: pointer;
}

/* Add / Delete buttons */
.modal-app-btn-row {
  display: flex;
  justify-content: space-between;
}

.modal-app-del-btn,
.add-btn {
  background-color: var(--primary);
  border: none;
  outline: none;
  border-radius: var(--radius-md);
  width: min-content;
  padding: 8px 16px;
  cursor: pointer;
  color: var(--text);
  font-size: larger;
  font-weight: 700;
  transition: var(--transition-fast);
}

.add-btn:hover {
  transform: scale(1.03);
  background-color: var(--primary-light);
}

.add-btn:active {
  background-color: var(--primary-medium);
  transform: scale(1);
}


.modal-app-del-btn {
  background-color: var(--error);
  border-radius: var(--radius-md);
  padding: 8px;
}

.modal-app-del-btn:hover {
  transform: scale(1.03);
  opacity: 0.9;
}

.modal-app-del-btn:active {
  transform: scale(1);
  opacity: 0.8;
}