@import './base.css';

.base-container {
  background-color: var(--bg-dark);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

/* Right Menu */
.right-menu {
  /* background-color: var(--bg-dark); */
  width: 80px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 8px;
}

.menu-item {
  background-color: var(--bg-item);
  border: none;
  border-radius: var(--radius-lg);
  width: 64px;
  height: 64px;
  cursor: pointer;
  transition: var(--transition-fast);
}

.menu-item:hover {
  transform: scale(1.05);
  border: 2px solid var(--primary-medium);
}

.menu-item:active {
  transform: scale(1);
}

.main-container {
  background-color: var(--bg-main);
  width: 100vw;
  height: 100vh;
  padding: 16px;
}

/* Search Row */
.search-row {
  display: flex;
  margin-bottom: 32px;
  gap: 16px;
}

.search-box {
  background-color: var(--bg-item);
  width: 100%;
  border: 1px solid var(--border);
  border-radius: var(--radius-lg);
  gap: 8px;
  display: flex;
}

.search-icon {
  margin: 8px;
  cursor: pointer;
  transition: var(--transition-fast);
}

.search-icon:hover {
  transform: scale(1.2);
}

.search-icon:active {
  transform: scale(1);
}

.search-box input {
  background-color: transparent;
  width: 100%;
  border: none;
  outline: none;
  border-radius: var(--radius-lg);
  color: var(--text);
  font-size: medium;
}

.search-box:focus-within {
  border: 2px solid #9e4129;
}

/* Edit Button */
.edit-toggle-btn {
  background-color: var(--bg-item);
  border: 1px solid var(--border);
  border-radius: var(--radius-md);
  transition: var(--transition-fast);
  cursor: pointer;
}

.edit-icon {
  stroke: var(--text);
}

.edit-toggle-btn:hover {
  transform: scale(1.05);
  border-color: var(--primary-medium);
}

.edit-toggle-btn:hover .edit-icon {
  stroke: var(--primary-light);
}

.edit-toggle-btn:active {
  transform: scale(1);
}

.edit-toggle-btn:active .edit-icon {
  stroke: var(--primary-medium);
}

/* App List */
.app-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

/* App List Item */
.app-item {
  background-color: var(--bg-item);
  border: none;
  padding: 0;
  width: 128px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-lg);
  cursor: pointer;
  transition: var(--transition-fast);
}

.app-item:hover {
  transform: scale(1.04);
  border: 2px solid var(--primary-medium);
}

.app-item:active {
  transform: scale(1);
}

.app-item img {
  padding: 0 8px;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  margin-top: 8px;
  border-radius: var(--radius-md);
}

.app-item span {
  background-color: var(--bg-btn);
  width: calc(100% - 16px);
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-md);
  color: var(--text);
  font-weight: 700;
  margin-bottom: 8px;
  overflow: hidden;
  transition: var(--transition-fast);
}

.app-item:hover span {
  background-color: var(--primary);
  color: #141312;
}

.app-item span:hover {
  background-color: var(--primary-light);
  transform: scale(1.03);
}

.app-item span:active {
  background-color: var(--primary-medium);
  transform: scale(1);
}

.add-app-btn {
  height: 128px;
}
.menu-item:hover .icon,
.add-app-btn:hover .icon {
  width: 70%;
  height: 70%;
  stroke: var(--primary);
  transition: var(--transition-fast);
}

.icon {
  width: 60%;
  height: 60%;
  stroke: var(--text);
}

.fail-text {
  color: var(--error);
}

/* Edit mode */
.edit-toggle-btn-on {
  border-color: var(--primary);
}

.edit-icon-on {
  stroke: var(--primary);
}
